#login-button {
  color: rgb(0, 0, 0);
}

#signup-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

#login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

#logout-button {
  color: rgb(0, 0, 0);
}

#signup-button {
  color: rgb(0, 0, 0);
}

#listing-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
}
